{
    "compact": false,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "4"
                },
                "exclude": [
                    "transform-es2015-typeof-symbol"
                ]
            }
        ],
        "minify"
    ],
    "plugins": [
        "transform-for-of-as-array"
    ]
}
